.library-profile
	.photo-library
		%h2.library-name= @library.name
		%span.adress= @library.address
		= image_tag "biblioteca-1.jpg"
	.library-info
		.container
			%span Información:
			%b Código:
			= @library.code
			%br
			%b Encargado:
			= @library.attendant
			%br
			%b Phone number:
			= @library.phone_number
			%br
			%b Zone:
			= @library.zone
		.map
.recent-books.books
	.container
		.book
			%span.title El mejor libro del mundo.
			%span.author Bethoven 
		.book
			%span.title El mejor libro del mundo.
			%span.author Bethoven 
