<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @library.code %>
</p>

<p>
  <b>Name:</b>
  <%= @library.name %>
</p>

<p>
  <b>Attendant:</b>
  <%= @library.attendant %>
</p>

<p>
  <b>Phone number:</b>
  <%= @library.phone_number %>
</p>

<p>
  <b>Address:</b>
  <%= @library.address %>
</p>

<p>
  <b>Zone:</b>
  <%= @library.zone %>
</p>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
