.container
  .bookview
    .book-cover
    .book-info
      %span.title
        = @book.title
      %span.author
        = @book.author
      %span.date
        = @book.publication_date
      %span.editorial
        = @book.editorial
      %span.edition
        = @book.edition
      %span.isbn
        = @book.isbn
    .social
      %a{:href => "#{}"}
        =image_tag  "facebook.png"
      %a{:href => "#{}"}
        =image_tag  "twitter.png"
  .libraries
    %h3
      Este libro esta disponible
      %b gratuitamente
      en las siguientes bibliotecas:
    %br
    .wrapper-items
      .items
        - @book.libraries.each do |library|
          = link_to '#', data: { address: library.google_address, id:library.id }, class: 'library-item' do
            %span.library-title #{library.name}
      %a#view-library{:href => "#"} Ver Biblioteca
    .library-map
      #map-canvas{style:"width:400px; height:400px;"}
  .fb-comments{"data-href" => "http://donde-leer.herokuapp.com/", "data-num-posts" => "10", "data-width" => "960"}
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCHMJp2-XbvDl_1E1zHuOUglT8vjVCNgVA&sensor=false"
  #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=573637125991448";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
