.container
  .bookview
    %img.book-cover
    .book-info
      %p
        %b Title:
        = @book.title
      %p
        %b Author:
        = @book.author
      %p
        %b Publication date:
        = @book.publication_date
      %p
        %b Editorial:
        = @book.editorial
      %p
        %b Edition:
        = @book.edition
      %p
        %b Isbn:
        = @book.isbn
  .libraries
    %h3 Este libro esta disponible en las siguientes bibliotecas
    .items
      - @book.libraries.each do |library|-
        = link_to '#', data: {address: library.google_address}, class: 'library-item' do
          %span.library-title #{library.name}
    .library-map
      #map-canvas{style:"width:400px; height:400px;"}

  = link_to 'Edit', edit_book_path(@book)
  |
  \#{link_to 'Back', books_path}
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCHMJp2-XbvDl_1E1zHuOUglT8vjVCNgVA&sensor=false"
